.hide {
    display: none;
}

/*Overall*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}


html {
    font-family: "Lato", "Lucida Grande","Lucida Sans Unicode", Tahoma, Sans-Serif;
    line-height: 1.5;
    font-size: 15px;
    font-weight: 400;
}

body {
    background: #191919;
    margin: 0;
    padding: 0;
    z-index: -999;
    text-align: left;
    color: white;
    overflow-x: hidden;
    overflow-y:hidden;
    display: block;
}

div {
    display: block;
}
/*Background picture*/
div#background_branding_container {
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: 0;
    width: 100%;
    height: 100%;
}

img#background_background_image {
    position: fixed;
    width: 100%;
    height: 100%;
    width: 1249px;
    height: 950px;
    background-color: rgb(235, 60, 0);
    visibility: visible;
    display: block;
}
img {
    border: 0;
}
/*Login Panel*/
.login_panel {
    background: #252527 url(https://production-assets.codepen.io/assets/logos/codepen-logo-pattern-725360e4ce5b66f968c7f39c80999bdeaa3cbe2f18eac75d58b01f8cf55c26ab.png);
    position: fixed;
    right: 0;
    float: right;
    height: 100%;
    width: 550px;
    margin: 0;
    padding: 0;
    z-index: 1;
    overflow-y: auto;
    overflow-x: hidden;
    border-left: 4px solid black;
}


@media only screen and (max-width: 600px), (max-device-width: 600px){
    .login_panel {        
        float: none;
        position: fixed;        
        float: right;
        right: 0;
        height: 100%;
        width: 100%; 
        min-width: 100%;
        margin: 0;
        padding: 0;
        z-index: 1;
        padding-top: 0;
        overflow: auto;        
        overflow-y: auto;
        overflow-x: hidden;
    }
}

#login {
    margin: 0 auto; 
    padding: 0 10%;    
}

    /*Login body*/
    .body-login {      
    }

    /*Login Header Section*/
    .login-header {        
        margin: 20px 0 20px 0;
    }
    .login-header, .login-half  {
        padding-top: 50px;
    }

        /*Headers*/
        h1, h2, h3, h4, h5, h6 {
            line-height: 1.2;
            margin: 0 0 10px 0;
            font-weight: normal;
        }

        h2, h3, h4, h5, h6 {
            font-family: "Lato", "Lucida Grande","Lucida Sans Unicode", Tahoma, Sans-Serif;
        } 

        h1, .h1 {
            font-smoothing: antialiased;
            font-family: "Telefon Black", Sans-Serif;
            line-height: 1.1;
            font-size: 2.5rem;
        }

        h2, .h2 {
            font-family: "Telefon", Sans-Serif;
            display: block;
            font-size: 1.5em;
            font-weight: bold;
        }

        /*Login Logo*/
        .login-logo {
            color: #999;
            margin: 15px 0 5px 0;
            width: 600px;
            height: 45px;
            opacity: 0.7;
        }

        /*Page title (login or Register*/
        .little-big-header {
            font-size: 3.2rem;
            margin: 0;
            color: white;
        }

        @media only screen and (max-width: 1400px), (max-device-width: 1400px){
            .login_panel {
                width: 500px;
            }
            /*Login Header Section*/
            .login-header, .login-half  {
                padding-top: 20px;
            }

                /*Headers*/
                h1, .h1 {
                    font-size: 2.3rem;
                }

                h2, .h2 {
                    font-size: 1.5em;
                }

                /*Page title (login or Register*/
                .little-big-header {
                    font-size: 2.7rem;
                }

        }
    /*Login Form*/
    .login-half{
        padding: 0 5% 10% 2%;
        width: 55%;

    }
    .flex-grid>* {
        width: 100% !important;
    }
        /*Labels*/
        .field>label {
            color: #999;
        }
        .login-form label {
            font-weight: normal;
            display: block;
            margin: 0 0 3px 0;
            text-transform: uppercase;
            letter-spacing: 0.5px;
        }
        label[for], input[type=checkbox], input[type=radio] {
            cursor: pointer;
        }

        /*Login Email*/
        .login-form .field {
            padding-right: 0;
        }
        .field {
            margin: 0 0 20px 0;
        }

        /*Inputs*/        
        input, button {
            text-rendering: auto;
            color: initial;
            letter-spacing: normal;
            word-spacing: normal;
            text-transform: none;
            text-indent: 0px;
            text-shadow: none;
            display: inline-block;
            text-align: start;
            margin: 0em 0em 0em 0em;
            font: 25px Arial;
        }

        input[type='name'], input[type='tel'], input[type='text'], input[type='email'], 
        input[type='password'], input[type='search'], input[type='url'], input[type='tel'], 
        input[type='number'], textarea {
            font-family: "Lato", "Lucida Grande","Lucida Sans Unicode", Tahoma, Sans-Serif;
            font-size: 1.3rem;
            width: 100%;
            padding: 8px 12px;
            border: 3px solid #eee;
            border-radius: 3px;
            background-color: white;
            user-select: text;
            cursor: auto;
            border-color: #777;
        }

        /*Password*/
        .login-form .field {
            padding-right: 0;
        }
        .login-form>div {
            margin: 0 0 20px 0;
        }

            /*Input*/
            input:-webkit-autofill {
                background-color: #444;
                background-image: none;
                color: rgb(0, 0, 0);
            }

            /*Checkbox*/
            label[for], input[type=checkbox], input[type=radio] {
                cursor: pointer;
            }
            input[type="checkbox"] {
                margin: 10px 0 0 10px;
                box-sizing: border-box;    
            }

            /*Keep me logged in*/    
            label.small-inline {
                font-size: 0.8em;
                display: inline-block !important;
                margin-right: 3px;
            }
        

        /*Login Btn*/
        .button {
            background: #47CF73;
            font-family: "Lato", "Lucida Grande","Lucida Sans Unicode", Tahoma, Sans-Serif;
            color: white;
            position: relative;
            -webkit-appearance: none;
            font-size: 1rem;
            line-height: 1.2;
            display: inline-block;
            border: 0;
            outline: 0;
            padding: 10px 16px;
            margin: 15px 15px 0 0;
            position: relative;
            border-radius: 4px;
            border: 3px solid transparent;
            color: white;
            cursor: pointer;
            white-space: nowrap;
            text-overflow: ellipsis;
            text-decoration: none !important;
            cursor: pointer;
            text-align: center;
            font-weight: normal !important;
        }

        a {
            text-decoration: none;
            color: #76daff;
        }

    /*Register sub section*/
    .signup-callout {
        margin-top: 40px;
        text-align: center;
        border-radius: 2px;
        color: #999;
        display: block;
        padding: 20px;
        position: relative;
        background: #333;
        margin: 0 0 20px 0;
        overflow: hidden;
    }










/*Reset Defaults*/
/*
html, body, applet, object, iframe, h1, h2, h3, h4, 
h5, h6, p, blockquote, pre, acronym, address, big, 
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, 
small, strike, strong, sub, sup, tt, var, b, u, i, 
center, dl, dt, dd, ol, ul, li, fieldset, form, label, 
legend, table, caption, tbody, tfoot, thead, tr, th, 
article, aside, canvas, details, embed, figure, 
figcaption, footer, header, hgroup, menu, nav, output, 
ruby, section, summary, time, mark, audio, video, input, textarea {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: arial;
    vertical-align: baseline;
}

html, body { 
    width: 100%; 
    height: 100%;
}

[id*="Page"], aside {
    display: none;
    visibility: hidden;
}

#homePage {
    display: block;
    visibility: visible;
}


/*Headers
header {  
    position: fixed; /* Set the navbar to fixed position 
    top: 0; /* Position the navbar at the top of the page
    width: 100%; /* Full width 

    color: white;
}
header.withSubMenu {  
    background-color: #09590B; 
    height: 8%; 
    min-height: 50px;
}

div.mainHeader {
}
div.topNav {
    background-color: #09590B;
}

.menuIcon {    
    width: 18%; 
    
}
i#menu {
    margin: 9.5px 0 0 12px;
    font-size: 30px;
}

.title {
    white-space: nowrap;
    overflow-x: hidden;
    width: 62%;
    margin-top: 12px;
}

#mainName {
    font-size: 22px;
}
.dashIcon{
    margin: 4%;
}
#mainDate{
    font-size: 15px;  
}

.eventNoteIcon {  
    width: 20%;
}
i#eventNote {
    float: right;
    margin: 12px 13px 0 0;
    font-size: 27px;
}
.subHeader {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    bottom: 0;   
}

.Tabs {
    position: absolute;
    width: 100%;
    background-color: #0D6610;
    margin: 0;
    padding: 0;
    list-style: none;
}

.Tabs:after {
    content: ' ';
    display: table;
    clear: both;
}

.Tabs__tab {
    float: left;
    width: 33.333%;
    text-align: center;
}

.Tabs__tab:first-child.active ~ .Tabs__presentation-slider {
    left: 0;
}
.Tabs__tab:nth-child(2).active ~ .Tabs__presentation-slider {
    left: 33.333%;
}
.Tabs__tab:nth-child(3).active ~ .Tabs__presentation-slider {
    left: 66.66667%;
}

.Tabs__presentation-slider {
    position: absolute;
    bottom: 0;
    width: 33.333%;
    height: 2px;
    background-color: white;
    transition: left .25s;
}


.Tab a {
    display: block;
    padding: 10px 12px;
    text-decoration: none;
    color: #cccccc;
    transition: color .17s;
}

.Tab.active a {
    color: white;
}

.Tab:hover a {
    color: white;
}




/*Contents

main.contents {
    margin: 90px 10px 0 10px;

}
/*Catagories
td.catagory {
    color: #1B2432;
    font-size: 20px; 
}
span.catagory {
    box-align: start;    
    display: inline-flex;
    align-items: flex-start;
    flex: 1 1 auto;
    font-family: "proxima-nova","Helvetica Neue",Arial,sans-serif;
    font-weight: 600;
    line-height: 22px;
}
span.room {
    font-size: 16px;
    color: #676D76;
}
/*Rooms
/*Chore Rows


/*Time Left Aside
/*Action Buttons Aside




/*Grid System
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"], .col {
    float: left;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


/*Side Navigation Menus
/*Formatting
.c-menu {
    z-index:200;
    background-color:#67b5d1;
    transition:transform .3s;

    width:80%; height:100%; overflow-y:scroll;
}
.c-menu__items {
    list-style:none;
    display:block; text-align:center; margin:0; padding:0;
    border-top:solid 1px #b5dbe9;
    border-bottom:solid 1px #3184a1;
}
.c-menu--left .c-menu__link, .c-menu--right .c-menu__link {
    display:block; padding:12px 24px;  color:#fff;
}
.c-menu--left .c-menu__close,.c-menu--right .c-menu__close {
    display:block; padding:12px 24px; width:100%;
}
.c-menu__close{
    color:#fff; background-color:#3184a1; border:none;
}

/*Positioning
.c-mask,.c-menu {
    position:fixed;
}

/*Class Toggling
.c-menu--left {top:0; left:0; transform:translateX(-100%);}
.c-menu--left.is-active {     transform:translateX(0);     }

.c-menu--right {top:0; right:0; transform:translateX(100%);}
.c-menu--right.is-active {      transform:translateX(0);    }

.c-mask {
    z-index:100;
    top:0;left:0; width:0; height:0;
    background-color:#000; opacity:0;
    transition:opacity .3s, width 0s .3s, height 0s .3s;
}
.c-mask.is-active {
    width:100%; height:100%; 
    opacity:.7;  transition:opacity .3s;}
*/