* {
    margin: 0;
    padding: 0;
}
a, a:hover {
    color: inherit;
}
#navBar {
    background-color: green; 
    padding-top: 30px; 
    padding-bottom: 20px;
    padding-left: 50px;    
    padding-right: 47px;
}
#menu {
    font-size: 120px; 
}

#noteNav { 
    padding-top: 7px;
    float: right; 
    font-size: 105px;
}



